@model List<FacturaModel>
@{
    Layout = "~/Views/Shared/_LayoutTables.cshtml";
}
@if (Model == null || !Model.Any())
{
    
    <p>No hay Facturas para mostrar.</p>
}
else
{
    <h2 class="text-center">Consulta de Facturas</h2>

    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>Cliente</th>
                <th>fecha de compra</th>
                <th>metodo de pago</th>
                <th>total</th>
                <th></th>


            </tr>
        </thead>
        <tbody>
            @foreach (var Factura in Model)
            {
                <tr>
                    <td>@Factura.cliente?.nombre</td>
                    <td>@Factura.createdAt</td>
                    <td>@(Factura.metodoPago)</td>

                    <td>@(Factura.precioTotal ) </td>


                    <td>

                        <a class="btn btn-success " asp-area="" asp-controller="Factura" asp-route-id="@Factura._id" asp-action="Detalle"> Detalles</a>
                        

                    </td>



                </tr>
            }
        </tbody>
    </table>
}