@model List<UsuariosModel>

@if (Model == null || !Model.Any())
{
    <p>No hay Usuarios para mostrar.</p>
}
else
{
    <h2 class="text-center">Consulta de Usuarios</h2>
    <table class="table">
        <thead>
            <tr>
                <th>nombre</th>
                <th>usuario</th>
                <th>rol</th>
                <th>Fecha de registro</th>
                <th></th>


            </tr>
        </thead>
        <tbody>
            @foreach (var Usuarios in Model)
            {
                <tr>
                    <td>@Usuarios.nombre</td>
                    <td>@Usuarios.username</td>
                    <td>
                      @Usuarios.rol

                    </td>
                    <td>
                       @Usuarios.createdAt
                    </td>

                    <td>

                        <a class="btn btn-success " asp-area="" asp-controller="Usuarios" asp-route-id="@Usuarios._id" asp-action="VerUsuario"> Editar usuario</a>
                        <form asp-controller="Usuarios" asp-action="EliminarUsuario" method="post" style="display:inline;">
                            <input type="hidden" name="id" value="@Usuarios._id" />
                            <button type="submit" class="btn btn-warning" >Eliminar sala</button>
                        </form>

                    </td>



                </tr>
            }
        </tbody>
    </table>
}
