@model List<SalasPeliculasModel>
<p>side menu</p>
<p>searchbar</p>
<p>filtros</p>
<section>

    <div class="album py-5 bg-light">
        <div class="container">

           
                @foreach (var SalaPelicula in Model)
                {
                    <div class="container"> 
                    <h1>Pelicula: @SalaPelicula._id</h1>
                    @foreach (var sala in SalaPelicula.salas!) {
                        <p>@sala.id_teatro!.nombre</p>
                        <p>@sala.id_teatro!.ubicacion</p>
                        <p>@sala.nombre</p>
                        <p>@sala.precioAsiento</p>
                        foreach (var sesion in SalaPelicula.sesiones!) {
                            <a class="btn btn-success " asp-area="" asp-controller="Home" asp-route-id="@sesion._id" asp-action="Sesion">Agregar al carrito 🛒</a>
                        
                        }
                    }
                    </div>

                }


           
        </div>
    </div>
</section>