@model List<SesionesPorPelicula>
<p>side menu</p>
<p>searchbar</p>
<p>filtros</p>
<section>

    <div class="album py-5 bg-light">
        <div class="container">


            @foreach (var SalaPelicula in Model)
            {
                <div class="container"> 
                    <h1>Cine: @SalaPelicula.teatro</h1>

                    @foreach (var pelicula in SalaPelicula.Peliculas!) {
                        <H2>Pelicula: @pelicula.nombre</H2>

                        @foreach (var sala in pelicula!.salas!) { 
                            <h3>Sala: @sala.nombre</h3>

                            @foreach (var sesion in sala.sesiones!) { 
                                <p>@sesion.fechaInicio</p>
                                <p>@sesion.fechaFinalizacion</p>
                                <a class="btn btn-success" asp-area="" asp-controller="Home" asp-route-id="@sesion._id" asp-action="Sesion">Reservar espacio</a>
                            }
                        }
                    }
                </div>

                }


           
        </div>
    </div>
</section>